@import url('https://fonts.googleapis.com/css?family=Neucha');

@font-face {
	font-family: 'Seriffic'; 
	src: url('../fonts/seriffic.woff') format('woff');
}

* {
	box-sizing: border-box;
}

body {
	padding-right: 20px;
	padding-left: 20px;
}


header {
	font-family: 'Seriffic', 'Neucha', cursive;
	font-size: 0.9em;
}

#container {
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.gallery{
	width: 400px;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.gallery:hover {
	border: 1px solid #777;
}

.photo {
	height: 200px;
	background-size: cover;
}

.desc {
	text-transform: uppercase;
	color: rgba(0,0,0, 0.7);
	padding: 15px;
	text-align: center;
}

.photo1 {
	background-image: url('../images/photo1.jpeg');
}

.photo2 {
	background-image: url('../images/photo2.jpeg');
}

.photo3 {
	background-image: url('../images/photo3.jpeg');
}

.photo4 {
	background-image: url('../images/photo4.jpeg');
}

.photo5 {
	background-image: url('../images/photo5.jpeg');
}

.photo6 {
	background-image: url('../images/photo6.jpeg');
}

footer {	
	font-family: 'Georgia', 'Times New Roman', serif;	
	color: rgba(230, 0, 20, 0.8);
	text-shadow: 0 0 3px #FF0000;
	display: flex;
	justify-content: flex-end;
	padding-left: 25px;
	padding-right: 25px;
}
